{% macro render_modal(id, title, body, btn_text, btn_link, btn_type) %}
<div class="modal fade" id="{{ id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {% if title %}
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ title }}</h1>
          {% endif %}
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ body }}
        </div>
        {% if btn_link and btn_type and btn_text %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% if btn_link %}{{ btn_link }}{% else %}#{% endif %}" class="btn btn-{% if btn_type %}{{ btn_type }}{% else %}primary{% endif %}">{% if btn_text %}{{ btn_text }}{% else %}Confirm{% endif %}</a>
        </div>
        {% endif %}
      </div>
    </div>
</div>
{% endmacro %}