{% extends 'base.html' %}

{% block header %}
  <div class="h1">{% block title %}Conatct Us{% endblock %}</div>
{% endblock %}

{% block content %}
<div class="container-md p-3 mb-4 bg-body-tertiary rounded">
    <form class="p-3" method="POST" action="{{ url_for('main.contact') }}">
        {{ form.csrf_token }}
        {% from "_formhelpers.html" import render_field %}
        <div class="form-floating mb-2">
            {% if g.user %}
            {{ form.name(class="form-control", placeholder="Name", value=g.user.full_name) }}
            {% else %}
            {{ form.name(class="form-control", placeholder="Name") }}
            {% endif %}
            {{ form.name.label() }}
            {% if form.name.errors %}
            <div class="errors">
                <div class="text-danger">* {{ form.name.errors[0] }}</div>
            </div>
            {% endif %}
        </div>
        <div class="form-floating mb-2">
            {% if g.user %}
            {{ form.email(class="form-control", placeholder="Email", value=g.user.email) }}
            {% else %}
            {{ form.email(class="form-control", placeholder="Email") }}
            {% endif %}
            {{ form.email.label() }}
            {% if form.email.errors %}
            <div class="errors">
                <div class="text-danger">* {{ form.email.errors[0] }}</div>
            </div>
            {% endif %}
        </div>
        <div class="form-floating mb-2">
            {{ form.message(class="form-control", placeholder="Message", style="height: 20rem;") }}
            {{ form.message.label() }}
            {% if form.message.errors %}
            <div class="errors">
                <div class="text-danger">* {{ form.message.errors[0] }}</div>
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}