{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-md">
    {% if not check_details %}
    <div class="alert alert-warning fade show text-center">
        It looks like your profile is incomplete
        <span><a href="{{ url_for('pt.add_details') }}" class="btn btn-sm btn-outline-warning m-1">Add More Details</a></span>
    </div>
    {% endif %}
    
    <div class="mb-3">
        <div class="row gap-3">
            <div class="p-3 col-md bg-body-secondary rounded">
                <div class="row align-items-center">
                    <div class="col-md mb-2">
                        <div class="d-flex flex-column">
                            <div class="fs-4">{{ g.user.full_name }}</div>
                            <div class="fs-6 text-secondary">@{{ g.user.username }}</div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-column justify-content-center">
                            <a href="{{ url_for('main.profile', user_type = session.get('user_type'), id = g.user.id) }}" class="btn btn-primary btn-sm mx-2">Go to Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 col-md-4 text-center bg-body-tertiary rounded">
                <div class="d-flex flex-md-column flex-row justify-content-center align-items-center">
                    <div class="fs-6 my-1">Want to channel a doctor?</div>
                    <a href="{{ url_for('pt.apmts') }}" class="btn btn-primary btn-sm mx-2">Make an Appointment</a> 
                </div>
            </div>
        </div>
    </div>

    <div class="p-3 mb-3 bg-body-tertiary rounded">
        <div class="fs-4 mb-4 text-center">Upcoming Appointments</div>
        <div class="scroll-box">
            <!-- add list of appointments here -->
            {% if apmts %}
            {% for apmt in apmts %}
            <div class="card mx-3 mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md">
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-sm-8 mb-1">
                                        <div class="h5">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person pb-1" viewBox="0 0 16 16">
                                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                            </svg>
                                            {{ apmt.Doctor.full_name | dr }}
                                        </div>
                                        <div class="fs-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hospital pb-1 mx-1" viewBox="0 0 16 16">
                                                <path d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5Zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9h-.5Zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Z"/>
                                                <path d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1V1Zm2 14h2v-3H7v3Zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm0-14H6v1h4V1Zm2 7v7h3V8h-3Zm-8 7V8H1v7h3Z"/>
                                            </svg>
                                            {{ apmt.Hospital.name }}
                                        </div>
                                        <div class="fs-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt pb-1 mx-1" viewBox="0 0 16 16">
                                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                            </svg>
                                            {{ apmt.Hospital.address }}
                                        </div>
                                        <div class="fs-6">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar4-event pb-1 mx-1" viewBox="0 0 16 16">
                                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                                                <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                            </svg>
                                            {{ apmt.Appointment.datetime | dtNoSwDay }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="fs-6 text-secondary col-md-6 mb-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mortarboard pb-1" viewBox="0 0 16 16">
                                                <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"/>
                                                <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
                                            </svg>
                                            {% if apmt.Doctor.specialities %}{{ apmt.Doctor.specialities }}{% else %}No specialities{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <button type="button" class="btn {% if no_cancel(apmt.Appointment.datetime) %}btn-secondary{% else %}btn-danger{% endif %}" data-bs-toggle="modal" data-bs-target="#cancelApmtModal{{ apmt.Appointment.id }}" {% if no_cancel(apmt.Appointment.datetime) %}disabled{% endif %}>Cancel Appointment</button>
                            {% from "_modalhelpers.html" import render_modal %}
                            {{ render_modal(
                                "cancelApmtModal" + str(apmt.Appointment.id), "Are you sure?", 
                                "This action cancels your appointment with " ~ apmt.Doctor.full_name | dr ~ " (" ~ apmt.Appointment.datetime | dtNoS ~ ")",
                                "Cancel Appointment", url_for('pt.cancel_apmt', id = apmt.Appointment.id), "danger" ) }}
                        </div>
                    </div>                
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="fs-6 text-center text-break text-secondary">No upcoming appointments</div>
            {% endif %}
        </div>
    </div>

    <div class="p-3 mb-3 bg-body-tertiary rounded">
        <div class="fs-4 mb-4 text-center">Recent Medical Records</div>
        {% if not records %}
        <div class="fs-6 text-center text-break text-secondary">No recent medical records</div>
        {% else %}
        <div class="scroll-box">
            Records
            <!-- add list of appointments here -->
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}