{% extends 'base.html' %}

{% block header %}
  <div class="h1">{% block title %}Sign Up{% endblock %}</h1>
{% endblock %}

{% for message in get_flashed_messages() %}
<div class="flash text-danger">* {{ message }}</div>
{% endfor %}

{% block content %}
    {{ form.csrf_token }}
    {% from "_formhelpers.html" import render_field %}
    <div class="container">
        <form method=post action="{{ url_for('auth.register') }}">
            <dl>
                {{ render_field(form.username, class="form-control", autocomplete="off") }}
                {{ render_field(form.full_name, class="form-control", autocomplete="off") }}
                {{ render_field(form.dob, class="form-control") }}
                {{ render_field(form.email, class="form-control") }}
                {{ render_field(form.contact, class="form-control") }}
                {{ render_field(form.password, class="form-control") }}
                {{ render_field(form.confirm, class="form-control") }}
            </dl>

            {{ form.submit(class="btn btn-primary my-3") }}
        </form>
        <p class="text-center mt-5">Already have an account? <a class="link-primary link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ url_for('auth.login') }}">Log In</a></p>
    </div>
{% endblock %}