{% extends 'base.html' %}

{% block header %}
  <div class="h1">{% block title %}Log In{% endblock %}</div>
{% endblock %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <div class="container">
        <form method="post" action="{{ url_for('auth.login') }}">
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.username, class="form-control", autocomplete="off", autofocus="on") }}
                {{ render_field(form.password, class="form-control") }}
            </dl>
            {{ form.submit(class="btn btn-primary my-3") }}
        </form>
        <p class="text-center mt-5">Don't have an account? <a class="link-primary link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ url_for('auth.register') }}">Sign Up</a></p>
    </div>
    <p class="text-center my-2 mb-5">Having trouble signing up? <a class="link-success link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ url_for('main.contact') }}">Contact Us</a></p>
{% endblock %}